## Домашнее задание «Функции и работа с данными»

### Задание 1

In [ ]:
"""
Напишите функцию, которая классифицирует фильмы из материалов занятия
"""

In [1]:
import pandas as pd

In [3]:
# Загружаем файлы с фильмами и рейтингами
mov_df = pd.read_csv('/Python/ml-latest-small/movies.csv')
rat_df = pd.read_csv('/Python/ml-latest-small/ratings.csv')

In [5]:
# Объединяем датафреймы в один 
ratings_movie = mov_df.merge(rat_df, left_on = 'movieId', right_on = 'movieId', how = 'inner')
ratings_movie.head(20)

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
5,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,18,3.5,1455209816
6,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,4.0,965705637
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,21,3.5,1407618878
8,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,27,3.0,962685262
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,31,5.0,850466616
10,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,32,3.0,856736119
11,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,33,3.0,939647444
12,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,40,5.0,832058959
13,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,43,5.0,848993983
14,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,44,3.0,869251860
15,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,45,4.0,951170182
16,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,46,5.0,834787906
17,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,50,3.0,1514238116
18,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,54,3.0,830247330
19,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,57,5.0,965796031

In [11]:
#группируем фильмы по рейтингу
finally_df = (ratings_movie
    .groupby('title')
    .agg(average_rat = ('rating', 'mean')) 
)
finally_df.head(20)

                                             average_rat
title
'71 (2014)                                      4.000000
'Hellboy': The Seeds of Creation (2004)         4.000000
'Round Midnight (1986)                          3.500000
'Salem's Lot (2004)                             5.000000
'Til There Was You (1997)                       4.000000
'Tis the Season for Love (2015)                 1.500000
'burbs, The (1989)                              3.176471
'night Mother (1986)                            3.000000
(500) Days of Summer (2009)                     3.666667
*batteries not included (1987)                  3.285714
...All the Marbles (1981)                       2.000000
...And Justice for All (1979)                   3.166667
00 Schneider - Jagd auf Nihil Baxter (1994)     4.500000
1-900 (06) (1994)                               4.000000
10 (1979)                                       3.375000
10 Cent Pistol (2015)                           1.250000
10 Cloverfield Lane (2016)                      3.678571
10 Items or Less (2006)                         2.666667
10 Things I Hate About You (1999)               3.527778
10 Years (2011)                                 3.500000

In [24]:
#функция классификации фильмов
def classificator(row):
    if row['average_rat'] <= 2.0:
        row['class'] = 'low'
    elif row['average_rat'] <= 4.0:
        row['class'] = 'mid'
    elif row['average_rat'] >= 4.5:
        row['class'] = 'high'
    return row['class']

In [29]:
# Применяем функцию к датафрейму
finally_df['class'] = finally_df.apply(classificator, axis=1)
finally_df.head(50)

                                                    average_rat class
title
'71 (2014)                                             4.000000   mid
'Hellboy': The Seeds of Creation (2004)                4.000000   mid
'Round Midnight (1986)                                 3.500000   mid
'Salem's Lot (2004)                                    5.000000  high
'Til There Was You (1997)                              4.000000   mid
'Tis the Season for Love (2015)                        1.500000   low
'burbs, The (1989)                                     3.176471   mid
'night Mother (1986)                                   3.000000   mid
(500) Days of Summer (2009)                            3.666667   mid
*batteries not included (1987)                         3.285714   mid
...All the Marbles (1981)                              2.000000   low
...And Justice for All (1979)                          3.166667   mid
00 Schneider - Jagd auf Nihil Baxter (1994)            4.500000  high
1-900 (06) (1994)                                      4.000000   mid
10 (1979)                                              3.375000   mid
10 Cent Pistol (2015)                                  1.250000   low
10 Cloverfield Lane (2016)                             3.678571   mid
10 Items or Less (2006)                                2.666667   mid
10 Things I Hate About You (1999)                      3.527778   mid
10 Years (2011)                                        3.500000   mid
10,000 BC (2008)                                       2.705882   mid
100 Girls (2000)                                       3.250000   mid
100 Streets (2016)                                     2.500000   mid
101 Dalmatians (1996)                                  3.074468   mid
101 Dalmatians (One Hundred and One Dalmatians)...     3.431818   mid
101 Dalmatians II: Patch's London Adventure (2003)     2.500000   mid
101 Reykjavik (101 Reykjavík) (2000)                   3.500000   mid
102 Dalmatians (2000)                                  2.777778   mid
10th & Wolf (2006)                                     4.500000  high
10th Kingdom, The (2000)                               2.750000   mid
10th Victim, The (La decima vittima) (1965)            4.000000   mid
11'09"01 - September 11 (2002)                         4.000000   mid
11:14 (2003)                                           3.750000   mid
11th Hour, The (2007)                                  4.000000   mid
12 Angry Men (1957)                                    4.149123   mid
12 Angry Men (1997)                                    5.000000  high
12 Chairs (1971)                                       4.500000  high
12 Chairs (1976)                                       5.000000  high
12 Rounds (2009)                                       3.000000   mid
12 Years a Slave (2013)                                3.625000   mid
127 Hours (2010)                                       3.833333   mid
13 Assassins (Jûsan-nin no shikaku) (2010)             4.000000   mid
13 Ghosts (1960)                                       3.125000   mid
13 Going on 30 (2004)                                  3.190476   mid
13 Hours (2016)                                        3.300000   mid
13 Sins (2014)                                         3.500000   mid
13 Tzameti (2005)                                      4.500000  high
13th (2016)                                            4.500000  high
13th Warrior, The (1999)                               2.903846   mid
1408 (2007)                                            3.160000   mid

### Задание 2

In [ ]:
"""
Необходимо написать гео-классификатор, который каждой строке сможет выставить
географическую принадлежность определенному региону. 
"""

In [87]:
#Загружаем файл с запросами
keywords_df = pd.read_csv('/Python/keywords.csv')
keywords_df.head(20)

                       keyword     shows
0                           вк  64292779
1                одноклассники  63810309
2                        порно  41747114
3                         ютуб  39995567
4                    вконтакте  21014195
5   одноклассники моя страница  19976138
6                         майл  15144673
7                        авито  14786593
8                   переводчик  14453469
9                       яндекс  13344734
10             сбербанк онлайн  10725673
11                        mail   7687204
12                        игры   6075762
13                     youtube   5729958
14      вконтакте моя страница   5971451
15                        секс   5431732
16                        гугл   5175471
17                          dr   4880955
18                 алиэкспресс   4879645
19                     рамблер   4540421

In [109]:
# функция гео-классификатор
def geoclass(row):
    for city in row['keyword'].split(' '):
        if city in ('москва','тула','ярославль'):
            row['region'] = 'Центр'
        elif city in ('петербург','псков','мурманск'):
            row['region'] = 'Северо-Запад'
        elif city in ('владивосток','сахалин','хабаровск'):
            row['region'] = 'Дальний Восток'
        else:
            row['region'] = 'undefined'
    return row['region']

In [110]:
# применяем функцию к датафрейму
keywords_df['region'] = keywords_df.apply(geoclass, axis=1)
keywords_df.tail(20)

                                      keyword  shows     region
99980                познакомиться с девушкой   3620  undefined
99981  подарок на день рождения своими руками   5938  undefined
99982                           кладоискатели   3630  undefined
99983                        марципан что это   3899  undefined
99984                               бровченко   3630  undefined
99985                                  спирея   3630  undefined
99986                                   нерка   3630  undefined
99987                        ирригатор купить   4490  undefined
99988                               пиодермия   3630  undefined
99989                проверить iphone по imei   3891  undefined
99990                       сколько лет обаме   3799  undefined
99991                            сергей жорин   4056  undefined
99992                остаться в живых 5 сезон   3696  undefined
99993              петростат официальный сайт   3634  undefined
99994                  мк газета свежий номер   3750  undefined
99995                  эльдорадо старый оскол   3705  undefined
99996                     frigate для firefox   3630  undefined
99997                                  укрсиб   3630  undefined
99998                 погода в ялте на неделю   3688  undefined
99999                                    ггму   3630  undefined

In [114]:
# проверяем результат 
print(keywords_df.loc[keywords_df['region'] != 'undefined'])

                              keyword   shows          region
127                      авито москва  979292           Центр
370          авито ру санкт петербург  425134    Северо-Запад
849                   авито ярославль  209581           Центр
1063              фарпост владивосток  176951  Дальний Восток
1236             банк санкт петербург  174375    Северо-Запад
...                               ...     ...             ...
98679                      геи москва    4205           Центр
98726  ледовый дворец санкт петербург    3772    Северо-Запад
99204      bileter ru санкт петербург    3661    Северо-Запад
99890             яндекс метро москва    4548           Центр
99922               авто ру ярославль    3712           Центр

[371 rows x 3 columns]